.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./background_search_desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

.SearchBar-fields {
  display: flex;
  justify-content: center;
  margin-bottom: 2.88rem;
}

.SearchBar-fields input {
  width: 18rem;
  padding: .66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: .77rem;
  font-weight: 500;
}

.first-search-bar {
  margin-left: 2.22rem;
}

.SearchBar-fields input:last-child {
  margin-right: 0;
}

.SearchBar-fields select {
  margin-right: 0;
  margin-bottom: .86rem;
  width: 18rem;
  padding: .66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: .77rem;
  font-weight: 500;
  margin-bottom: 0px;
  color: #707070;
  background-color: #fff;
  align-content: left;
}

.SearchBar-submit {
  text-align: center;
}

.SearchBar-submit a {
  border-radius: 4px;
  padding: .72rem 1.7rem;
  background-color: #fa4658;
  color: #ffffff;
  font-weight: 600;
  transition: background-color .5s;
}

.SearchBar-submit a:hover {
  cursor: pointer;
  background-color: #e13f4f;
}

.sort-by-options ul {
  display: flex;
  justify-content: center;
  margin-bottom: 2.22rem;
  color: #ffffff;
  list-style-type:none;
  margin-top: 0;
  padding-top: 2rem;
  padding-right: 40px;
}

.sort-by-options li {
  cursor: pointer;
  width: 4.33rem;
  line-height: 1.13;
  text-align: center;
  font-size: .83rem;
  transition: color .25s;
  border-radius: 4px;
  padding: .72rem 1.7rem;
  background-color: #fa4658;
  color: #fff;
  font-weight: 600;
  margin: 6px;
}

.sort-by-options li:hover {
  cursor: pointer;
  background-color: #e13f4f;
}

.sort-by-options li.active,
.sort-by-options li.active:hover {
  cursor: pointer;
  background-color: #931723;
}

@media only screen and (max-width: 560px) {
  .SearchBar {
    background-image: url('./background_search_mobile.jpg');
  }

  .SearchBar-fields {
    flex-direction: column;
    align-items: center;
  }

  .SearchBar-fields input {
    margin-right: 0;
    margin-bottom: .86rem;
  }

  .first-search-bar {
    margin-left: 0;
  }

  .SearchBar-fields select {
    margin-right: 0;
    margin-bottom: .86rem;
    width: 20rem;
  }

  .sort-by-options ul {
    display: flex;
    justify-content: center;
    padding-right: 40px;
  }

}
